@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-blue: #2563eb; /* A shade of blue */
  --color-primary-blue-light: #3b82f6;
  --color-primary-blue-dark: #1e40af;
  --color-primary-red: #dc2626; /* A shade of red */
  --color-primary-red-light: #ef4444;
  --color-primary-red-dark: #b91c1c;
}

body {
  color: #333;
  background-color: #f8f8f8;
}

.underline {
  text-decoration-line: underline;
}